        body {
            background-image: url('img/Img_Paisagem.png');
            /* Substitua pelo caminho da sua imagem */
            background-size: cover;
            /* Isso garante que a imagem cubra todo o corpo */
            background-position: center;
            /* Isso centraliza a imagem no corpo */
            background-repeat: no-repeat;
            /* Isso evita a repetição da imagem */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .predio {
            width: 500px;
            height: 540px;
            background-color: #ccc;
            position: relative;
            position: fixed;
            /* Define a posição como fixa */
            bottom: 0;
            /* Mantém o prédio na parte inferior da tela */
        }

        .x1Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .x2Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .x3Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .x4Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .x5Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .x6Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .terreo {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid #999;
            box-sizing: border-box;
            background-color: #ceb387;
        }

        .x1Subsolo {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #775010;
        }


        .x2Subsolo {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #775010;
        }

        .ground-floor {
            background-color: #e0d1ac;
        }

        .basement {
            background-color: #4d4d4d;
        }

        .elevator {
            width: 80px;
            height: 50px;
            /* background-color: #3498db; */
            position: absolute;
            bottom: 0;
            transition: bottom 3s ease;
        }

        .elevator1 {
            left: 80px;
        }

        .elevator2 {
            left: 400px;
        }

        .Janelas {
            width: 150px;
            height: 50px;
            position: absolute;
            left: 150px;
        }

        .Janelas2 {
            width: 150px;
            height: 50px;
            position: absolute;
            left: 250px;
        }

        .Trilhos {
            width: 70px;
            height: 540px;
            position: absolute;
            left: 80px;
        }
        .Trilhos2 {
            width: 70px;
            height: 540px;
            position: absolute;
            left: 400px;
        }
        
        .Recepcao {
            width: 180px;
            height: 50px;
            position: absolute;
            left: 180px;
        }

        .Estacionamento {
            width: 270;
            height: 56px;
            position: absolute;
            left: 138px;
        }