        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .predio {
            width: 500px;
            height: 540px;
            background-color: #ccc;
            position: relative;
        }

        .x1Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .x2Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .x3Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .x4Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .x5Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .x6Andar {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #999;
        }

        .terreo {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid #999;
            box-sizing: border-box;
            background-color: #ceb387;
        }

        .x1Subsolo {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #775010;
        }


        .x2Subsolo {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            background-color: #775010;
        }

         .ground-floor {
            background-color: #e0d1ac;
        } 

        .basement {
            background-color: #4d4d4d;
        }

        .elevator {
            width: 80px;
            height: 50px;
            /* background-color: #3498db; */
            position: absolute;
            bottom: 0;
            transition: bottom 3s ease;
        }

        .elevator1 {
            left: 80px;
        }

        .elevator2 {
            left: 400px;
        }